    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About ReserveIt</h2>
                <p>ReserveIt is a free App to help you book Michelin 3 star restaurants worldwide. It will notify you directly when the restaurant has availability.  It can be downloaded at your <a href="http://xiaoyubai.github.io/">App store.</a></p>
            </div>
        </div>
    </section>
