    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Download ReserveIt</h2>
                    <p>You can download ReserveIt for free in your App Store.</p>
                    <a href="https://xiaoyubai.github.io/" class="btn btn-default btn-lg">Visit App Store</a>
                </div>
            </div>
        </div>
    </section>
